<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header th:fragment="top">
      <nav>
        <span>Doctor Secret Service</span>
        <a href="/">Sign In</a>
      </nav>
    </header>
    <footer th:fragment="bottom">
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">TARDIS</a></li>
      </ul>
      <span>Copyright BBC/Terry Nation 1963</span>
    </footer>
  </body>
</html>
